module_22/lesson_4/task_2/words.txt
module_22/lesson_4/task_2/errors.log
.idea/
module_25/lesson_2/task_3/numbers.txt
module_26/lesson_3/task_2/numbers.txt
/module_31/lesson_3/task_1/people_3_info.json
/module_31/lesson_3/task_1/planets_8_info.json
/module_23/practical_work_23/04_chat/chathistoty.txt
/module_22/practical_work_22/05_frequency_analysis/analysis.txt
/module_22/practical_work_22/06_war_and_peace/analysis.txt
/module_26/practical_work_26/05_logs_processing/data/error_logs.txt
/module_31/practical_work_31/05_web_scrapping/examples.html
/module_22/practical_work_22/04_tournament/first_tour.txt
/module_29/practical_work_29/03_format_logging/log_file.txt
/module_22/practical_work_22/01_nums_sum_2/numbers.txt
/module_14/practical_work_14/01_os_info/os_info.txt
/module_23/practical_work_23/02_lucky_number/out_file.txt
/module_28/practical_work_28/01_work_with_file_2/proba.txt
/module_22/practical_work_22/06_war_and_peace/voyna-i-mir.txt
/module_26/practical_work_26/05_logs_processing/data/work_logs.txt
/module_22/practical_work_22/05_frequency_analysis/text.txt
/module_22/practical_work_22/06_war_and_peace/test.txt
